@charset "UTF-8";


#membermain .left_box form.span.my { display:block; float:left; width:100px; height:144px; background-image:url(/duo/service/img/new_marriage_04.jpg); background-position:center top; background-repeat:no-repeat; }
